<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="**.*.controllers" />
    <mvc:annotation-driven />

   <!--  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/" />
        <property name="suffix" value=".html" />
    </bean> -->

    <!-- 资源映射 -->
    <!-- <mvc:resources location="/WEB-INF/kendoui/" mapping="/kendoui/**"/>
    <mvc:resources location="/WEB-INF/view/" mapping="/view/**"/>
    <mvc:resources location="/WEB-INF/common/" mapping="/common/**"/>
    <mvc:resources location="/WEB-INF/images/" mapping="/images/**"/>
 -->
    <bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>



    <!-- 拦截器 -->
    <!-- <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/> -->
            <!-- 不拦截的url -->
          <!--   <mvc:exclude-mapping path="/resources/**" />
            <mvc:exclude-mapping path="/lib/**" />
            <mvc:exclude-mapping path="/view/activeLogin/js/**"/>
            <mvc:exclude-mapping path="/view/activeLogin/css/**"/>
            <mvc:exclude-mapping path="/view/activeLogin/images/**"/>
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/logout" />
            <mvc:exclude-mapping path="/active" />
            <mvc:exclude-mapping path="/lr/selectAccount" />
            <mvc:exclude-mapping path="/lr/validationAccount" />
            <mvc:exclude-mapping path="/lr/active" />
            <mvc:exclude-mapping path="/lr/sendVerif" />
            <mvc:exclude-mapping path="/lr/validVerif" />
            <mvc:exclude-mapping path="/lr/findPwd" />
            <mvc:exclude-mapping path="/view/activeLogin/index.html" />
            <mvc:exclude-mapping path="/view/activeLogin/findPwd.html" />
            <mvc:exclude-mapping path="/view/activeLogin/sendVerif.html" />
            <mvc:exclude-mapping path="/403.html" />
            <mvc:exclude-mapping path="/404.html" />
            <mvc:exclude-mapping path="/500.html" />
            <mvc:exclude-mapping path="/message.html" />
            <mvc:exclude-mapping path="/verifiCode" />
            <bean class="com.pm.platform.LoginInterceptor"/>
        </mvc:interceptor> -->
        <!--<bean class="com.lkkhpg.dsis.platform.security.interceptor.MonitorInterceptor"/>
        <bean class="com.lkkhpg.dsis.platform.security.interceptor.SecurityInterceptor">
            <property name="filter" value="false"/>
        </bean>-->
   <!--  </mvc:interceptors> -->

   


</beans>
